<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-nuget-cache" value="R:\_CODE_\NET\mathnet-symbolics-integration\.nuget-cache" />
    <add key="nuget-global" value="C:\Users\sky92\.nuget\packages" />
    <add key="sdk-fsharp" value="C:\Program Files\dotnet\sdk\10.0.201\FSharp\library-packs" />
  </packageSources>
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>
